<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Plan lekcji</title>

    <!-- Le styles -->
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="http://jshashtable.googlecode.com/files/jshashtable-2.1.js"></script>
    <script type="text/javascript" src="http://jquery-numberformatter.googlecode.com/files/jquery.numberformatter-1.2.3.js"></script>
    <script type="text/javascript" src="http://documentcloud.github.com/underscore/underscore.js"></script>
    <script type="text/javascript" src="http://documentcloud.github.com/backbone/backbone.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/domain.js"></script>
    <script type="text/javascript" charset="UTF-8" src="js/domain-factory.js"></script>
    <script type="text/javascript" src="js/view.js"></script>
    <script type="text/javascript" src="js/router.js"></script>
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body>

    <script type="text/template" id="schedule_template">
      <h3>Plan lekcji: <%= scheduleName %></h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th colspan="3">Czas</th>
            <% _(weekdays).each(function(weekday) { %>
              <th><%= weekday.get('name') %></th>
            <%}); %>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </script>

    <script type="text/template" id="columns_template">
      <col span="3"></col>
      <% _(weekdays).each(function(weekday) { %>
        <col class="<%= view.isNextWeekday(weekday) ? 'next-weekday' : '' %>"></col>
      <%}); %>
    </script>

    <script type="text/template" id="timeslot_template">
      <td><%= start %></td>
      <td>&ndash;</td>
      <td><%= end %></td>
    </script>

    <script type="text/x-handlebars" data-template-name="timeslot">
      <tr>
        <td>{{start}}</td>
        <td>&ndash;</td>
        <td>{{end}}</td>
        {{#each weekdays}}
          {{view Schedule.LessonView weekdayBinding="this"}}
        {{/each}}
      </tr>
    </script>

    <script type="text/x-handlebars" data-template-name="lesson">
      <td {{bindAttr class="nextWeekdayCell"}}>{{lessonName}}</td>
    </script>

    <div id="container">
    </div>

  </body>
</html>  
  
